.layout_container {
  width: 100%;
  height: 100vh;
  background: #bfa;
  .layout_menu {
    width: $base-menu-width;
    height: 100vh;
    background: $base-menu-background;
    color: #fff;

    .scrollbar {
      width: 100%;
      height: calc(100vh - #{$base-menu-logo-height});

      .my_el_menu{
        
      }
    }
  }
  .layout_tabbar {
    position: fixed;
    top: 0;
    left: $base-menu-width;
    width: calc(100% - #{$base-menu-width});
    height: $base-tabbar-height;
    background: yellow;
  }
  .layout_content {
    position: absolute;
    top: $base-tabbar-height;
    left: $base-menu-width;
    width: calc(100% - #{$base-menu-width});
    height: calc(100vh - #{$base-tabbar-height});
    padding: 20px;
    background: skyblue;
    overflow: auto;
  }
}
